@charset "utf-8";

html{
	height: 100%;
	background: linear-gradient(rgba(30, 47, 64, 0.98), rgba(21, 38, 56, 0.98) ), url(img/background.png) no-repeat center center fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	display: block;
	padding: 0;
	margin: 0;
	color: #FAFAFA;
}



/*/////////////////////////////////////
///// HELPER CLASSES
/////////////////////////////////////*/



.hidden {
	display: none;
}

.pointer {
    cursor: pointer;
}


/*/////////////////////////////////////
///// FADE IN
/////////////////////////////////////*/

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}



/*/////////////////////////////////////
///// LOGO
/////////////////////////////////////*/

.logo {
	position: relative;
	margin-top: 100px;
	transform:  scale(1);
	transition: ease-in-out 0.1s all;
}

.logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}


/*/////////////////////////////////////
///// TEXTBOX
/////////////////////////////////////*/

p {
	font-size: 22px;
	font-weight: 900;
	color: #FAFAFA;
	line-height: 185%;
	letter-spacing: 0.1px;
}

.purple {
	color: #9E63B5;
}

.green {
	color: #2BC3A6;
}

.yellow {
	color: #F0C830;
}

.textbox {
	text-align: center;
}

.textbox p{
	width: 400px;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}


/*/////////////////////////////////////
///// ARROWS PAGE 1
/////////////////////////////////////*/

.arrownext {
	position: fixed;
	top: 50%;
	right: 2%;
	transform: scale(1);
	transition: ease-in 0.1s all;
}

.arrownext:hover {
	transform: scale(1.2);
	transition: ease-in 0.1s all;
}


/*/////////////////////////////////////
///// ARROWS PAGE 2
/////////////////////////////////////*/

.arrownext2 {
	position: fixed;
	top: 50%;
	right: 2%;
	transform: scale(1);
	transition: ease-in 0.1s all;
}

.arrownext2:hover {
	transform: scale(1.2);
	transition: ease-in 0.1s all;
}

.arrowprev2 {
	position: fixed;
	top: 50%;
	left: 2%;
	transform: scale(1);
	transition: ease-in 0.1s all;
}

.arrowprev2:hover {
	transform: scale(1.2);
	transition: ease-in 0.1s all;
}


/*/////////////////////////////////////
///// ARROWS PAGE 3
/////////////////////////////////////*/

.arrownext3 {
	position: fixed;
	top: 50%;
	right: 2%;
	transform: scale(1);
	transition: ease-in 0.1s all;
}

.arrownext3:hover {
	transform: scale(1.2);
	transition: ease-in 0.1s all;
}

.arrowprev3 {
	position: fixed;
	top: 50%;
	left: 2%;
	transform: scale(1);
	transition: ease-in 0.1s all;
}

.arrowprev3:hover {
	transform: scale(1.2);
	transition: ease-in 0.1s all;
}



/*/////////////////////////////////////
///// ARROWS PAGE 4
/////////////////////////////////////*/

.arrowprev4 {
	position: fixed;
	top: 50%;
	left: 2%;
	transform: scale(1);
	transition: ease-in 0.1s all;
}

.arrowprev4:hover {
	transform: scale(1.2);
	transition: ease-in 0.1s all;
}




/*/////////////////////////////////////
///// START PROCESS BUTTON
/////////////////////////////////////*/

#button {
	display: inline-block;
	position: fixed;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
    margin-top: 0%;
	/*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
	*/
    -webkit-box-shadow:    0 8px 0 #1F927C, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #1F927C, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #1F927C, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 24px;
    color: #fff;
	font-weight: 900;
	text-align: center;
}


#button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #2BC3A6;
	/*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	*/
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#button span:hover{
	background-color: #20af94;
	transition: ease-in 0.1s;
}


#button:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #1F927C, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #1F927C, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #1F927C, 0 12px 10px rgba(0, 0, 0, .3);
}


#button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}



/*/////////////////////////////////////
///// INTRO 1 - STYLING
/////////////////////////////////////*/



.discover {
	color: #3ED17F;
}

.research {
	color: #2BC3A6;
}

.define {
	color: #F0C830;
}

.design {
	color: #E28633;
}

.production {
	color: #E55749;
}

.launch {
	color: #9E63B5;
}

.intro-icons {
	margin: 0;
	position: absolute;
	top: 34%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}