@charset "utf-8";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	background: linear-gradient(rgba(250, 250, 250, 0.99), rgba(250, 250, 250, 0.99) ), url(img/background.png) no-repeat center center fixed;
	background-size: cover;
}

body {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    /* background-color: #FAFAFA; /* #FAFAFA */
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #2c3e50; /* #2c3e50 #242424 */
}


/* WATERMARK */

.watermark {
	position: fixed;
	top: 95%;
	right: 2%;
}

.iconColor {
	position: absolute;
	top: 5%;
	right: 2%;
}

/*******************************************************/
/* Chapter Styling */
/*******************************************************/

.chapter1 {
	margin-left: 400px;
}

.chapter1 h1 {
	color: #2ecc71;
}

.chapter2 {
	margin-left: 400px;
}

.chapter2 h1 {
	color: #1abc9c;
}

.chapter3 {
	margin-left: 400px;
}

.chapter3 h1 {
	color: #f1c40f;
}

.chapter4 {
	margin-left: 400px;
}

.chapter4 h1 {
	color: #e67e22;
}

.chapter5 {
	margin-left: 400px;
}

.chapter5 h1 {
	
	color: #e74c3c;
}


.chapter6 {
	margin-left: 400px;
}

.chapter6 h1 {
	
	color: #9b59b6;
}


/*******************************************************/
/* Header Style */
/*******************************************************/

.header {
    padding-top: 50px;
    width: 70%;
}

/*******************************************************/
/* Title Styling */
/*******************************************************/

.title {
	display: flex;
	padding: 0;
	margin: 0;
	height: 40px;
	margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

.arrow {
	position: relative;
	margin-left: -20px;
	height: 17px;
	width: 11px;
	top: 39px;
}

.arrow img {
	position: relative;
	float: left;
}

.arrow2 {
	position: relative;
	margin-left: -20px;
	height: 17px;
	width: 11px;
	top: 39px;
}

.arrow2 img {
	position: relative;
	float: left;
}

.text {
	position: relative;
	float: left;
	margin-left: 10px;
}

/*******************************************************/
/* Arrow Animation */
/*******************************************************/

.rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*******************************************************/
/* Content Styles */
/*******************************************************/

.hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.step-list {
    margin-top: 60px;
    width: 70%;
}

.step-last {
	margin-top: 60px;
	margin-bottom: 70px;
	width: 70%;
}

.bottom {
	margin-bottom: 120px;
}

/*******************************************************/
/* Link Styles */
/*******************************************************/

a {
	text-decoration: none;
	color: #f2972c;
}



/*******************************************************/
/* Menu Icons */
/*******************************************************/







